.footer__column-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: var(--link-transition);
}

.footer__column-link:hover {
  opacity: var(--link-opacity);
}