.khan__book-link {
  text-decoration: none;
  color: var(--blue);
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  opacity: 1;
  transition: var(--link-transition);
  display: inline;
}

.khan__book-link:hover {
  opacity: var(--link-opacity);
}